.formWrapper {
    background-image: url("formBackground.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formWrapper:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.3;
}

.centerForm {
    background: rgba(0, 0, 0, 0.54);
    margin: 10px 10px;
    padding: 25px 25px;
    border-style: ridge;
    height: 50vh;
    border-color: antiquewhite;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.22);
}
form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%
}
.form-input {
    padding: 15px;
}

.form-input input {
    padding: 5px;
    border-radius: 8px; 
    box-shadow: 3px 3px rgba(37, 37, 218, 0.43);
}

.form-input button{
    padding: 5px;
    border-radius: 8px;
}
::placeholder{
    text-align: center;
}